<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard Web</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Pengaturan</a></li>
            <li><a href="#">Keluar</a></li>
        </ul>
    </nav>
    <header>
        <h1>Selamat Datang di Situs ini</h1>
    </header>
    <h2>Tentang Kami</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fugiat vitae perspiciatis, eum qui atque porro repudiandae vero, autem repellendus sequi ratione iste rerum enim illo suscipit ipsum deleniti architecto?
    Consequatur saepe consequuntur ab.</p>
    <h2>Berita Terbaru</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae veniam, doloremque consequatur vel impedit. Exercitationem voluptate perferendis voluptatibus pariatur, dolores mollitia amet similique. Expedita exercitationem optio quos commodi. Earum!</p>
    <h2>Acara</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium maiores temporibus doloribus, laboriosam delectus laudantium mollitia omnis ipsa, facilis explicabo minus at tenetur atque quibusdam maxime consectetur quia fugiat.</p>
</body>
</html>